<!DOCTYPE html>
<html>
<head>
    <title>Client Order List</title>
</head>
<body>
    <h1>Order List for Client: {{ client.name }}</h1>

    <h2>Orders in the Last 7 Days:</h2>
    <ul>
        {% for order in orders_last_7_days %}
            {% for product in order.products.all %}
                <li>{{ product.name }}</li>
            {% endfor %}
        {% endfor %}
    </ul>

    <h2>Orders in the Last 30 Days:</h2>
    <ul>
        {% for order in orders_last_30_days %}
            {% for product in order.products.all %}
                <li>{{ product.name }}</li>
            {% endfor %}
        {% endfor %}
    </ul>

    <h2>Orders in the Last 365 Days:</h2>
    <ul>
        {% for order in orders_last_365_days %}
            {% for product in order.products.all %}
                <li>{{ product.name }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</body>
</html>
